$font-stack: Helvetica, sans-serif;
$primary-color: White;
$primary-text-color: Black;
$secondary-color: PowderBlue;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: $primary-text-color;
  margin-top: 190px;
}

header {
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
}

h1 {
  text-align: center;
  color: $primary-text-color;
}

.navbar nav {
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  padding: 8px;
}

.navbar a:hover {
  background-color: #111;
}

.subtitle {
  text-align: center;
}

.current {
  background-color: $primary-color;
}

.column1image img {
  max-width: 75%;
  height: auto;
}

img.column1image {
  max-width: 50%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery img {
  max-width: 50%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

